<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Googleanalytics>
            <version>0.1.0</version>
        </Stuntcoders_Googleanalytics>
    </modules>
    <global>
        <models>
            <stuntcoders_googleanalytics>
                <class>Stuntcoders_Googleanalytics_Model</class>
                <resourceModel>stuntcoders_googleanalytics_resource</resourceModel>
            </stuntcoders_googleanalytics>
            <stuntcoders_googleanalytics_resource>
                <class>Stuntcoders_Googleanalytics_Model_Resource</class>
            </stuntcoders_googleanalytics_resource>
        </models>
        <blocks>
            <stuntcoders_googleanalytics>
                <class>Stuntcoders_Googleanalytics_Block</class>
            </stuntcoders_googleanalytics>
        </blocks>
        <helpers>
            <stuntcoders_googleanalytics>
                <class>Stuntcoders_Googleanalytics_Helper</class>
            </stuntcoders_googleanalytics>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stuntcoders_googleanalytics>
                                            <title>Google Analytics</title>
                                        </stuntcoders_googleanalytics>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_googleanalytics>
                    <file>stuntcoders/googleanalytics.xml</file>
                </stuntcoders_googleanalytics>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <stuntcoders_googleanalytics_order_success>
                        <class>Stuntcoders_Googleanalytics_Model_Observer</class>
                        <method>setGoogleanalyticsOnOrderSuccessPageView</method>
                    </stuntcoders_googleanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <default>
        <googleanalytics>
            <general_options>
                <enable>1</enable>
                <type>1</type>
            </general_options>
        </googleanalytics>
    </default>
</config>
